[Unit]
Description=Nginx
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --rm --name %n -v /home/core/cms-data/cms.nginx.conf:/etc/nginx/nginx.conf:ro --network=host imkulikov/nginx-sticky
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
