[Unit]
Description=Google Cloud SQL Proxy Service

[Service]
ExecStartPre=/usr/bin/wget https://dl.google.com/cloudsql/cloud_sql_proxy.linux.amd64 -O /cloud_sql_proxy
ExecStartPre=/bin/chmod +x /cloud_sql_proxy
ExecStart=/cloud_sql_proxy -instances=GCP_PROJ:GCP_ZONE:cmsdb=tcp:5432

[Install]
WantedBy=multi-user.target
