[Unit]
Description=CMS Worker Service
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/bin/docker run --name %n -v /home/core/cms-data/cms.conf:/usr/local/etc/cms.conf:ro --privileged --network=host -e CMS_INSTANCE_TYPE=WORKER [CMS_DOCKER_IMAGE]
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
